html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Color Pallet */
/*
#353D40
#D9D9D9
#A1A5A6
#F2B138 - background color
#003F63
*/

body {
  background-color: #f2b138;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
}

body > header {
  text-align: center;
}
